.*.swp
wrk/*

### IntelliJ IDEA ###
.idea/
/out/
**/out/
*.ipr
*.iws
*.iml
**/.attach_*

### IntelliJ IDEA ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
