doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      // console.log("log 2")
  body
    h1 Выбери цвет и отметь клетки:
    // p This is some pug stuff 2!!!
    div(id="root")
    svg(id="gridsvg" with="300" height="300")
    //p
    //svg(id="colorsvg" with="52" height="52")
